body {
	font-size: 20px;
	text-align: center;
}
div {
	display: inline-block;
	text-align: left;
	width: 499px;
}
iframe {
	border: none;
}
.hidden {
	display: none;
}
select, option{
	font-family: monospace, monospace;
}