body{
	font-size: 20px;
	text-align: center;
}
img{
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}
div{
	display: inline-block;
	text-align: left;
}
